* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  background-color: #eee;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#canvas {
  background-color: #fff;
  border: #000 3px solid;
  position: relative;
  top: 0px;
  height: 100%;
}

#canvas2 {
  background-color: #fff;
  border: #000 3px solid;
  position: relative;
  top: 0px;
  height: 100%;
}

#stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cells {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#table-wrapper {
  max-height: 700px;
  overflow-y: scroll;
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0 0.25rem;
  height: 1rem;
  border: 1px solid #000;
  text-align: center;
  font-size: 0.8rem;
}

tr:nth-child(odd) {
  background-color: #fff;
  color: #353535;
}

th {
  background-color: #353535;
  color: #eee;
  font-weight: 700;
  font-size: 0.7rem;
}

.stats-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.5rem;
  margin: 0;
}
